body {
    background-color: #FAFAFA;



}

.link {
    text-decoration: none;
}

.icon__header {
    fill: #fff;
    margin-top: 7px;

}

.icon__mobil-redes {
    fill: #fff;
    margin-top: 395px;
}

.icon__our {
    fill: #FD9222;
    border-radius: 365px;

    padding: 1px;
    border: 3px solid rgba(255, 255, 255, 0.50);

}



.container__header {
    margin: 0 auto;
    width: 375px;
    height: 50px;
    flex-shrink: 0;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    line-height: 1.5;
    color: #212121;
    background-color: #fff;
    padding-bottom: 145px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 25px;
}

.menu-toggle {
    margin-left: 125px;
    margin-top: 10px;

}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background: #1E1823;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}


.header__menu {
    list-style: none;
    display: none;

}

.header__title {
    color: #111;

    font-family: Montserrat;
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.42px;
    text-transform: uppercase;
    margin-top: 15px;
    display: inline-block;
    margin-right: 5px
}

.main__img {
    position: relative;
    top: 181px;
    margin: 0 auto;

    width: 335px;
    height: 621px;
    background-image: url("../images/chocolate-covered-cocoa-powder\ 1.jpg");
    background-size: 335px 621px;
    border-radius: 30px;
}

.main__title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: -0.6px;
    width: 273px;
    height: 72px;
    flex-shrink: 0;
    position: absolute;
    top: 390px;
    left: 35px;
}

.main__buttons {
    position: absolute;
    top: 502px;
    left: 27px;
}

.main__button {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 12px 28px;
    border-radius: 100px;
    border: 1px solid #FFF;
    flex-shrink: 0;
    background: none;
}

.main__button:hover {

    background: #FD9222;
}

.main__foot {
    position: absolute;
    top: 570px;
    left: 40px;
}

.main__paragraph {
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    /* 116.667% */
    letter-spacing: -0.36px;
}

.icon__main-redes {
    fill: #FFF;

}

.our__service {
    margin-top: 415px;
    background: #1E1823;
    padding: 20px;
    padding-left: 106px;

}

.our__list {
    list-style: none;
}

.our__title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.our__paragraph {
    color: rgba(255, 255, 255, 0.70);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    width: 380px;
}

.recipe__title {
    width: 330px;
    height: 72px;
    flex-shrink: 0;
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 120% */
    letter-spacing: -0.6px;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 72px 44px 87px 44px;


}

.recipe__span {
    color: #FD9222;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
}

.recipe__paragraph {
    width: 500px;
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.28px;
    margin: 0 auto;
}




.gallery__img {
    list-style: none;
    text-align: none;
    width: 335px;
    height: 270px;
    flex-shrink: 0;
    margin-left: 100px;
    margin-top: 20px;
}

.img {
    padding: 25px 56px;
}

.img1 {
    border-radius: 15px;
    background: #FD9222;
    color: #FFF;
}

.img2 {
    border-radius: 15px;
    border: 1px solid #FD9222;
    background: #FFF;
    color: #111;

}

.img3 {
    border-radius: 15px;
    background: #1E1823;
    color: #FFF;
}

.img4 {
    border-radius: 15px;
    border: 1px solid #FD9222;
    background: #FFF;
    color: #111;
}

.gallery__span {

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.28px;
    text-transform: uppercase;
    margin: 28px;
}


/* responsive------------------- */

@media screen and (min-width: 768px) {
    .container__header {
        width: 768px;
        height: 50px;

        padding-left: 15px;
        padding-right: 15px;

        line-height: 1.5;
        color: #212121;
        padding-bottom: 150px;

    }

    .menu-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 32px;
        background: #1E1823;
        z-index: 999;

        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
    }

    .header__section .container__header {
        min-height: 80px;
        display: flex;
        align-items: center;

    }

    .menu-toggle {
        margin-left: 520px;
    }

    .header__menu {
        display: none;
        padding: 0;
        margin: 0;
        list-style: none;

    }

    .main__img {
        position: relative;
        top: 329px;
        margin: 0 auto;
        width: 704px;
        height: 890px;

        background-image: url("../images/chocolate-covered-cocoa-powder\ 2.jpg");
        background-size: 704px 890px;
    }

    .main__title {
        top: 660px;
        width: 484px;
        font-size: 28px;

        font-weight: 500;
        line-height: 34px;
        /* 121.429% */
        letter-spacing: -0.84px;
    }

    .main__buttons {
        top: 800px;


    }

    .main__foot {
        top: 808px;
        left: 621px;
    }

    .our__service {
        margin-top: 675px;
        padding: 32px;
        padding-left: 75px;
    }

    .our__list {

        display: flex;
        gap: 60px;
        flex-wrap: wrap;
    }

    .recipe__title {
        width: 470px;
    }

    .recipe__paragraph {
        width: 495px;

    }


    @media screen and (min-width: 1280px) {


        .container__header {
            width: 1280px;
            height: 50px;

            padding-left: 15px;
            padding-right: 15px;
            margin-left: auto;
            margin-right: auto;
            line-height: 1.5;
            color: #212121;

        }

        .header__desktop {
            gap: 24px;
            color: #111;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            /* 114.286% */
            letter-spacing: -0.28px;
        }

        .redes {
            margin-left: 160px;

        }

        .icon__header {
            margin-right: 188px;
        }

        .icon__header-redes {
            margin-right: 18px;
            fill: #111;
            margin-top: 7px;
        }

        .menu-container {
            display: none;
        }

        .menu-toggle {
            display: none;
        }

        .header__menu {
            display: block;
            display: flex;
            gap: 30px;
        }

        .header__title {
            margin-left: 32px;
        }

        .main__img {
            position: relative;
            top: 166px;
            margin: 0 auto;
            width: 1136px;
            height: 600px;

            background-image: url("../images/chocolate-covered-cocoa-powder\ 3.jpg");
            background-size: 1136px 600px;
        }

        .main__title {
            width: 484px;
            top: 380px;
        }

        .main__buttons {
            top: 520px;
        }

        .main__foot {
            top: 533px;
            left: 980px;
        }

        .our__service {
            padding: 0px;
            margin-top: 360px;
        }

        .our__list {
            padding: 60px;
            gap: 44px;

        }
    }
}